<header class="header">
  <div class="header-content">
    <div class="header-left">
      <div class="logo">
        <img [src]="logoPath" alt="NACCC Logo" />
      </div>
    </div>

    <div class="header-right">
      @if (user(); as currentUser) {
      <div class="user-menu">
        <div class="user-info">
          <img [src]="currentUser.avatar" [alt]="currentUser.firstName" class="avatar" />
          <div class="user-details">
            <span class="user-name">{{ currentUser.firstName }} {{ currentUser.lastName }}</span>
            <span class="user-role">{{ currentUser.role }}</span>
          </div>
        </div>
        <button (click)="logout()" class="btn-logout">Logout</button>
      </div>
      }
    </div>
  </div>
</header>
